{% extends "main.html" %}

{% block content %}

<h3>Add a New Animal</h3>
<p>Enter the following information:</p>

<form method='post' action='addAnimal'>

    <p><select class='select' name='type'>
        <option value='Dog'>Dog</option>
        <option value='Cat'>Cat</option>
        <option value='Bird'>Bird</option>
        <option value='Rabbit'>Rabbit</option>
        <option value='Other'>Other</option>
    </select> Select Breed </p>

    <p><input type="text" name='name' required>Enter Name</p>

    <p><input type="text" name='breed'>Enter Breed</p>

    <p><input type="date" name="dob">Date of Birth</p>

    <p><input type="text" name="coloring">Enter Coloring</p>

    <p><input type="number" mim=o name="weight">weight</p>


    <p><input type='submit'></p>
</form>

{% endblock %}