{% extends "main.html" %}

{% block content %}

<h3>Add a New Animal</h3>
<p>Enter the following information:</p>

<form method='post' action='addAnimal'>

    <p><select class='select' name='type'>
        <option value='Dog'>Dog</option>
        <option value='Cat'>Cat</option>
        <option value='Bird'>Bird</option>
        <option value='Rabbit'>Rabbit</option>
        <option value='Other'>Other</option>
    </select> Select Breed </p>

    <p><input type="text" name='name' required>Enter Name</p>

    <p><input type="text" name='breed'>Enter Breed</p>
    

    <select class='select' name='age'>
        <option value='0-6m'>0-6 months</option>
        <option value='7-12m'>7-12 months</option>
        <option value='1-3y'>1-3 years</option>
        <option value='3-5y'>3-5 years</option>
        <option value='>5y'>'over 5 years</option>
    </select> Select Age Range </p>

    <p><input type="text" name="coloring">Enter Coloring</p>


    <p><input type='submit'></p>
</form>

{% endblock %}