{% extends "main.html" %}

{% block content %}

<div class="container">
   <form method='post' action='/updateAnimalInfo'>
      <table class="table-sm">
         <tbody>
            <tr>
               <td>Name</td>
               <td><input value={{animal.name}} name='name' readonly></td>
               <td> Read Only </td>
            </tr>
               <td>Type</td>
               <td><input value={{animal.type}} name='type' readonly></td>
               <td> Read Only </td>
               
            <tr>
               <td>Weight</td>
               <td>{{animal.weight}}</td>
               <td> <button class="btn btn-outline-dark" type='button' id='weight'>Edit</button> <span id='weightInput'
                     style="display: none"> <input name='newWeight' value={{animal.weight}}> Enter new
                     weight</span></td>
            </tr>
         </tbody>
      </table>
      <p><input type='submit' class="btn btn-outline-dark"></p>
   </form>
</div>

<script>

   document.getElementById('weight').onclick = function () {
      if (document.getElementById('weightInput').style.display == 'none')
         document.getElementById('weightInput').style.display = 'inline'
      else
         document.getElementById('weightInput').style.display = 'none'
   };



</script>

{% endblock %}